<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') -%>
    <title>About Us</title>
    <link rel="stylesheet" href="css/aboutus.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
    <script src="js/ourstory.js"></script>
</head>
<body>
<%- include('header') -%>
<div id="site-grid" style="transform: none;margin-top: 0px">
    <div id="site-wall-small">
        <div id="main-body-wrap">
            <div class="body-main">
                <div class="top-site">
                    <img src="https://s3.envato.com/files/220812629/preview_image.jpg" width="100%" height="500px" style="opacity: 0.6;object-fit: cover;">
                    <div class="top-site-text">
                        <h1>Welcome to DNBC</h1>
                    </div>
                </div>
                <div class="mid-site" id="mid-site">
                    <div class="container">
                        <div class="str-title col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            Our Story
                        </div>
                        <div class="col-md-1 col-lg-1">
                            <ul>
                                <li class="story1">
                                    <a href="#mid-site"><div class="dot dot1"></div></a>
                                </li>
                                <li class="story2">
                                    <a href="#str1"><div class="dot dot2"></div></a>
                                </li>
                                <li class="story3">
                                    <a href="#str2"><div class="dot dot3"></div></a>
                                </li>
                                <li class="story4">
                                    <a href="#str3"><div class="dot dot4"></div></a>
                                </li>
                            </ul>
                        </div>
                        <div class="str-content col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <p class="str str1" id="str1">DNBC is an English language news channel based in Vietnam. It broadcasts free-to-air domestically and as a subscription network to 29 territories across Asia and Australia.</p>
                            <p class="str str2" id="str2">DNBC has the sixth widest reach among television news channels covering content indigenous to Asia.The network has been positioned since its launch as an alternative to Western-based international media in its presentation of news from "an Asian perspective".It is run by Vietnam Media Group.</p>
                            <p class="str str3" id="str3">DNBC also produces news and current affairs content in two languages: English, Vietnamese. Content is produced for Vietnam Media Group's online platforms, with news bulletins made for and shown on the company's mass entertainment channels Suria, Channel 5, U, Channel 8 and Vasantham.</p>
                            <p class="str str4" id="str4">DNBC provides news broadcasts through its own domestic radio station. It also provides live streaming world news through its official online portal, and its social media presence through Facebook, Instagram, YouTube[9] and Twitter as well as apps for tablets and mobile devices to allow viewers to remain informed at any time.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('footer') -%>
    </div>
</div>
</div>
</div>
</div>
<div id="close-nav" class="close-nav" onclick="closeNav()"></div>
</body>
