<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') -%>
    <title>Advertisement</title>
    <link rel="stylesheet" href="css/general.css">
    <script src="jquery/fullpage.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@10.19.0/dist/lazyload.min.js"></script>
</head>
<body>
<%- include('header') -%>
<div id="fullpage" >
    <div class="section sec1 bg-gradient">
        <div class="intro">
            <div class="main-text">
                <h2 class="color-2">REGISTER ADVERTISEMENTS</h2>
                <h2 class="color-2">AND ARTICLES</h2>
                <h6 id="sub_text_1">Accurate rich information</h6>
                <a class="btn btn-white" href="#sec2">Click here to registers</a>
            </div>
            <ul class="gr-btn">
                <li>
                    <a href="#sec3">
                        <img src="imgs/advertisement1/iconbusiness.jpg" alt="QUOTATION" width="50" />
                        <span class="text">BUSINESS - WORLD</span>
                        <span class="sub-text">Click to see details</span>
                    </a>
                </li>
                <li>
                    <a href="#sec4">
                        <img src="imgs/advertisement1/iconpolitics.png" alt="QUOTATION" width="50" />
                        <span class="text">POLITICS - WORLD</span>
                        <span class="sub-text">Click to see details</span>
                    </a>
                </li>
                <li>
                    <a href="#sec5">
                        <img src="imgs/advertisement1/iconsport.png" alt="QUOTATION" width="50" />
                        <span class="text">SPORT - WORLD</span>
                        <span class="sub-text">Click to see details</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="section sec2">
        <div class="info">
            <div class="gr-element clearfix">
                <div class="container">
                    <H1 class="sub-tt"><b><marquee width="100%">Welcome to DHBC</marquee></b></H1>
                    <h3>Registration</h3>
                    <div id="container1" class=" slide-element">
                        <form action="action_page.php" method="GET">
                            <div class="form-group">
                                <label>Username</label>
                                <input class="form-control" type="text" name="username" placeholder="Username.." required/>
                            </div>
                            <div class="form-group">
                                <label>Enterprise:</label>
                                <input class="form-control" type="text" name="Enterprise" placeholder="Enterprise.." required/>
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="tel" class="form-control" name="Phone" placeholder="Phone.." required/>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" name="email" placeholder="Email.." required/>
                            </div>
                            <div class="form-group">
                                <label>Content:</label>
                                <input class="form-control" type="text" name="Content" placeholder="Content.." required/>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-info" type="submit">Continue</button>
                                <input class="btn" id="reset_btn" style="background-color: red;" type="reset" value="Reset" name="reset">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section sec3 sec5 pr-section">
        <div class="info">
            <div class="clearfix sec-tt">
                <h2 class="tt-03">
                    <span class="sub-tt">Online newspaper</span>
                    <span class="main-tt">BUSINESS - WORLD</span>
                </h2>
                <div class="gr-btn">
                    <button class="btn btn-line btn-popup"><a href="#sec2">50$/1POST</a></button>
                </div>
            </div>
            <div class="sec-content clearfix">
                <img class="lazy" data-src="imgs/advertisement1/B1.png" alt="Mobile" class="bg-img" />
                <div class="slide-sec3">
                    <div class="slide-element active">
                        <div class="name">
                            <h5><marquee width="100%">Detroit automakers, UAW to continue talks over reopening US plants</marquee></h5>
                        </div>
                        <img class="lazy" data-src="imgs/advertisement1/B1.png" alt="Mobile" />
                    </div>
                    <div class="slide-element">
                        <div class="name">
                            <h5><marquee width="100%">Coronavirus concerns delay restart of Fords North American production</marquee></h5>
                        </div>
                        <img class="lazy" data-src="imgs/advertisement1/B2.png" alt="Mobile" />
                    </div>
                    <div class="slide-element">
                        <div class="name">
                            <h5><marquee width="100%">Coronavirus: Worst-hit countries boost containment efforts</marquee></h5>
                        </div>
                        <img class="lazy" data-src="imgs/advertisement1/B3.png" alt="Mobile" />
                    </div>
                    <div class="slide-element">
                        <div class="name">
                            <h5><marquee width="100%">TFord to restart US truck plants in April to beat pandemic-linked cash squeeze</marquee></h5>
                        </div>
                        <img class="lazy" data-src="imgs/advertisement1/B4.png" alt="Mobile" />
                    </div>
                </div>
                <div class="control" name="pr">
                    <img class="lazy control-left" data-src="imgs/advertisement1/left.png" alt="Left" />
                    <img class="lazy control-right" data-src="imgs/advertisement1/right.png" alt="right" />
                </div>
            </div>
        </div>
    </div>

    <div class="section sec3 sec5 bg-gradient banner-section">
        <div class="info">
            <div class="clearfix sec-tt">
                <h2 class="tt-03">
                    <span class="sub-tt">Online newspaper</span>
                    <span class="main-tt">POLITICS - WORLD</span>
                </h2>
                <div class="gr-btn">
                    <button class="btn btn-White btn-popup"><a href="#sec2">50$/1POST</a></button>
                </div>
            </div>
            <div class="sec-content clearfix">
                <img class="lazy" data-src="imgs/advertisement1/P1.png" alt="Mobile" class="bg-img" />
                <div class="slide-sec3">
                    <div class="slide-element active">
                        <div class="name">
                            <h5><marquee width="100%">PMorgan tells small business customers to apply with other banks on fear that funds will run out</marquee></h5>
                        </div>
                        <img class="lazy" data-src="imgs/advertisement1/P1.png" alt="Mobile" />
                    </div>
                    <div class="slide-element">
                        <div class="name">
                            <h5><marquee width="100%">Some gig workers are getting $0 in unemployment benefits</marquee></h5>
                        </div>
                        <img class="lazy" data-src="imgs/advertisement1/P2.png" alt="Mobile" />
                    </div>
                    <div class="slide-element">
                        <div class="name">
                            <h5><marquee width="100%">No more hamburgers? How ‘clean meat’ could transform our diets</marquee></h5>
                        </div>
                        <img class="lazy" data-src="imgs/advertisement1/P3.png" alt="Mobile" />
                    </div>
                    <div class="slide-element">
                        <div class="name">
                            <h5><marquee width="100%">America’s ‘clean energy’ workforce projected to fall by 15% in months aheadr</marquee></h5>
                        </div>
                        <img class="lazy" data-src="imgs/advertisement1/P4.png" alt="Mobile" />
                    </div>
                </div>
                <div class="control" name="banner">
                    <img class="lazy control-left" data-src="imgs/advertisement1/left.png" alt="Left" />
                    <img class="lazy control-right" data-src="imgs/advertisement1/right.png" alt="right" />
                </div>
            </div>
        </div>
    </div>
    <div class="section sec3 sec5 pr-section">
        <div class="info">
            <div class="clearfix sec-tt">
                <h2 class="tt-03">
                    <span class="sub-tt">Online newspaper</span>
                    <span class="main-tt">SPORT - WORLD</span>
                </h2>
                <div class="gr-btn">
                    <button class="btn btn-line btn-popup"><a href="#sec2">50$/1POST</a></button>
                </div>
            </div>
            <div class="sec-content clearfix">
                <img class="lazy" data-src="imgs/advertisement1/S1.png" alt="Mobile" class="bg-img" />
                <div class="slide-sec3">
                    <div class="slide-element active">
                        <div class="name">
                            <h5><marquee width="100%">Coronavirus offers Manchester Uniteds Glazer family a huge opportunity</marquee></h5>
                        </div>
                        <img class="lazy" data-src="imgs/advertisement1/S1.png" alt="Mobile" />
                    </div>
                    <div class="slide-element">
                        <div class="name">
                            <h5><marquee width="100%">Pardew rubbishes ADO Den Haag bonus payment claims</marquee></h5>
                        </div>
                        <img class="lazy" data-src="imgs/advertisement1/S2.png" alt="Mobile" />
                    </div>
                    <div class="slide-element">
                        <div class="name">
                            <h5><marquee width="100%">Lame duck Neville needs to launch new era of Lionesses success</marquee></h5>
                        </div>
                        <img class="lazy" data-src="imgs/advertisement1/S3.png" alt="Mobile" />
                    </div>
                    <div class="slide-element">
                        <div class="name">
                            <h5><marquee width="100%">Lame duck Neville needs to launch new era of Lionesses success</marquee></h5>
                        </div>
                        <img class="lazy" data-src="imgs/advertisement1/S4.png" alt="Mobile" />
                    </div>
                </div>
                <div class="control" name="pr">
                    <img class="lazy control-left" data-src="imgs/advertisement1/left.png" alt="Left" />
                    <img class="lazy control-right" data-src="imgs/advertisement1/right.png" alt="right" />
                </div>
            </div>
        </div>
    </div>
</div>
<script src="jquery/advertisement.js"></script>
<script>
    new LazyLoad({
        elements_selector: ".lazy"
    });
</script>
</body>
</html>