<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') -%>
    <title>Bussiness News</title>
    <link rel="stylesheet" href="css/homepage.css">
    <link rel="stylesheet" href="css/categories.css">
</head>
<body>
<%- include('header') -%>
<div id="site-grid" style="transform: none;margin-top: 0px">
    <div id="site-wall-small">
        <div id="main-body-wrap">
            <div class="body-main">
                <div class="top-site">
                    <div class="container">
                        <div class="row">
                            <div class="main-title col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <span class="dnbc-main-title">
                                                Business
                                            </span>
                            </div>
                            <div class="hot-new col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <a href="#">
                                    <div class="post-img">
                                        <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/grocery-1536x864.jpg">
                                    </div>
                                    <p class="first-new">NY Grocer Fairway Says No Plans To File For Chapter 7 Bankruptcy</p>
                                </a>
                                <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                            </div>
                            <div class="hot-new col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                <a href="#">
                                    <div class="post-img">
                                        <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/speaker4-1536x864.jpg">
                                    </div>
                                    <p class="second-new">Tesla Could Eventually Reach A Trillion-Dollar Valuation</p>
                                </a>
                                <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                            </div>
                            <div class="hot-new col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                <a href="#">
                                    <div class="post-img">
                                        <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/restaurant-1536x864.jpg">
                                    </div>
                                    <p class="second-new">Grubhub Unveils Tech For Restaurants Aimed At Easing Pickup Orders</p>
                                </a>
                                <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bot-site">
                    <div class="container">
                        <div class="bot-site-left col-xs-12 col-sm-12 col-md-9 col-lg-9">
                            <div class="row">
                                <div class="bot-new bot-new-main col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <a href="#" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="posts-img">
                                            <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/auto-plant-768x432.jpg">
                                        </div>
                                    </a>
                                    <div class="bot-site-text col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                        <a href="#"><p>Uber Lands Electric Car Deal With Nissan In The UK</p></a>
                                        <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                                    </div>
                                </div>
                                <div class="bot-new bot-new-mid col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <a href="#" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="posts-img">
                                            <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/workers-768x432.jpg">
                                        </div>
                                    </a>
                                    <div class="bot-site-text col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                        <a href="#"><p>Walmart Raises Starting Hourly Wage To $12 In 500 Stores, As Part Of A Test</p></a>
                                        <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                                    </div>
                                </div>
                                <div class="bot-new bot-new-mid col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <a href="#" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                        <div class="posts-img">
                                            <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/politcian3-768x432.jpg">
                                        </div>
                                    </a>
                                    <div class="bot-site-text col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                        <a href="#"><p>5 Things To Know Before The Stock Market Opens Tuesday</p></a>
                                        <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bot-site-right col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <div class="bot-ad col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                <span>advertisement</span>
                                <a href="#">
                                    <img src="http://mvpthemes.com/zoxpress/zoxpress-entertainment1/wp-content/uploads/sites/3/2020/01/zoxpress300x250.jpg">
                                </a>
                            </div>
                            <div class="bot-trend col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                <div class="widget-side-head col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    Trending
                                </div>
                                <div class="widget-trend">
                                    <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">1</span>
                                    <a href="#" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">The U.S. Spends $2,500 Per Person On Health Care Administrative Costs</a>
                                </div>
                                <div class="widget-trend">
                                    <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">2</span>
                                    <a href="#" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">The U.S. Spends $2,500 Per Person On Health Care Administrative Costs</a>
                                </div>
                                <div class="widget-trend">
                                    <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">3</span>
                                    <a href="#" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">The U.S. Spends $2,500 Per Person On Health Care Administrative Costs</a>
                                </div>
                                <div class="widget-trend">
                                    <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">4</span>
                                    <a href="#" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">The U.S. Spends $2,500 Per Person On Health Care Administrative Costs</a>
                                </div>
                                <div class="widget-trend">
                                    <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">5</span>
                                    <a href="#" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">The U.S. Spends $2,500 Per Person On Health Care Administrative Costs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('footer') -%>
    </div>
</div>
</div>
</div>
</div>
<div id="close-nav" class="close-nav" onclick="closeNav()"></div>
</body>
