<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') -%>
    <title>Wanders And Sanders Spars On Gender Issue At Lowa Debate</title>
    <link rel="stylesheet" href="css/homepage.css">
    <link rel="stylesheet" href="css/article.css" type="text/css">
</head>
<body>
    <%- include('header') -%>
                <div id="site-grid" style="transform: none;margin-top: 0px">
                    <div id="site-wall-small">
                        <div id="main-body-wrap">
                            <div class="section">
                                <div class="container">
                                    <div class="ArticlePage_container col-xs-8">
                                        <div class="ArticleHeader_container">
                                            <div class="article__topic">
                                                <a href="#"><span >Automobile</span></a>
                                            </div>
                                            <div class="ArticleHeader_container_top">
                                                <h1 class="ArticleHeader_headline">Wanders And Sanders Spars On Gender Issue At Lowa Debate</h1>
                                            </div>
                                            <div class="ArticleHeader_container_bottom">
                                                <div class="ArticleHeader_date_container">
                                                    <div class="Attribution_container"><span class="Attribution_content">Reporting By <a
                                                                    href="###">Cirium</a></span>
                                                    </div>
                                                    <div class="ArticleHeader_date">
                                                        <p><b>Published on </b></p><time class="Attribution_content">APR 24, 2020 / 90:00 AM</time></div>
                                                </div>
                                                <div class="ArticleHeader_date_container">
                                                    <div id="fb-root"></div>
                                                    <script>(function(d, s, id) {
                                                            var js, fjs = d.getElementsByTagName(s)[0];
                                                            if (d.getElementById(id)) return;
                                                            js = d.createElement(s); js.id = id;
                                                            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
                                                            fjs.parentNode.insertBefore(js, fjs);
                                                        }(document, 'script', 'facebook-jssdk'));</script>

                                                    <!-- Your share button code -->
                                                    <div class="fb-share-button icon"
                                                         data-href="https://www.your-domain.com/your-page.html"
                                                         data-layout="button_count">
                                                    </div>
                                                    <div class="icon">
                                                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" title="Share on Twitter">Twitter</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="section">
                                <div class="container">
                                    <div class="ArticlePage_container col-xs-8">
                                        <div class="ArticleBody_container min-height">
                                            <p>London’s Heathrow airport normally has about 600 flights landing on an average day, but in lockdown Britain, about 60 arrive daily.</p>
                                            <div class="ArticleMedia">
                                                <div class="ArticleMedia_container">
                                                    <figure class="Image">
                                                        <img src="imgs/PostID_09.jpg" width="803" alt="none">
                                                    </figure>
                                                    <figcaption>
                                                        <div class="Image_caption"><h5>The coronavirus outbreak has had a severe impact on demand for air travel.</h5></div>
                                                            <div class="Image_caption"><h6>SOURCE: Taken by Harry Porters</h6></div>
                                                    </figcaption>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <p>Air Deccan is in talks with an aircraft manufacturer as the Indian carrier prepares to restart operations once the coroanvirus crisis stabilises, chief executive Arun Kumar Singh has disclosed.</p>
                                                <p>The carrier is in the process of returning its two 18-year-old Beechcraft Beech 1900Ds to their lessor, having already served notice of lease termination, Singh tells Cirium. He declined to name the lessor.</p>
                                                <p>Singh adds the lockdown has made it difficult to return the aircraft.</p>
                                                <p>The airline’s Beechcrafts – which, according to Cirium fleets data, formerly flew with a now-defunct subsidiary of Air New Zealand – are described by Singh as “very old and very tired ”.</p>
                                                <p>“We have taken this as an opportunity for newer aircraft,” he adds. “We are talking to an OEM, but nothing has been signed yet so I can’t disclose anything.”</p>
                                                <p>Pressed on whether he is talking to Airbus or Boeing, Singh says he is not talking with either of them, and that the type he is looking at is a “smaller commuter aircraft”.</p>
                                                <p>On 5 April, Air Deccan – which has history dating back to 2003, and was once a part of ill-fated Kingfisher Airlines – announced that it was suspending operations until further notice. It was the first Indian carrier to cease operations amid the coronavirus pandemic. All employees were put on “sabbatical” without pay, though Singh says they will be given “right of first refusal” to rejoin the company once it starts operations again.</p>
                                                <p>“We took a very early call in doing that,” he says, referring to management’s decision to shutter the airline.</p>
                                            </div>
                                            <div class="ArticleMedia col-xs-12">
                                                <div class="ArticleMedia_container col-xs-12">
                                                    <iframe width="800" height="540" frameborder="0" src="https://www.bbc.com/news/av/embed/p089st6l/52319575"></iframe>
                                                </div>
                                            </div>
                                            <div class="col-xs-12">
                                                <p>“I sat down with shareholders and we knew which direction this was going to go. We sat down and took a conscious call and took a very quick decision that coronavirus was going to stay for the next three to six months.</p>
                                                <p>“The question we had to ask was could we sustain ourselves with no revenues coming in? If we could somehow subsidise the aviation business from my shareholder’s other businesses – but the problem is all other business have come to a halt. We can’t keep pumping in money when there is no light at the end of the tunnel. Look what happened to Virgin Australia. The situation compared to other Indian carriers is not anyway extra bad for us; it’s just we saw that coming quickly.”</p>
                                                <p>The airline got off to a rocky start in 2003, having to abandon its inaugural flight carrying Indian dignitaries due to an engine fire during taxi. Despite that, it managed to grow its fleet and route network, and in 2008 completed a merger with now-defunct Kingfisher Airlines.</p>
                                                <p>Under its new owner, Air Deccan was rechristened Kingfisher Red, but its high operating costs and low yields proved to be a drag on Kingfisher. In 2011 Kingfisher Airlines, which not long after went belly-up, decided to phase out Kingfisher Red.</p>
                                                <p>Air Deccan founder GR Gopinath, who has been dubbed “the man who got India’s middle class to fly”, managed to retain the airline’s name by registering for it soon after the rebranding, Forbes India reports.</p>
                                                <p>Air Deccan made a comeback in December 2017 when it was granted a flying permit from India’s civil aviation regulator to conduct flights under the country’s UDAN regional connectivity scheme, Business Standard reported at the time. The first three routes were from Mumbai to Nashik, Pune and Jalgaon, according to Forbes India.</p>
                                            </div>
                                        </div>
                                        <div class="ArticleBody_container" id="comment-button">
                                            <button class="comment-button-text" onclick="unHide()">
                                                <i class="fas fa-comment"></i> <span>Click to comment</span>
                                            </button>
                                        </div>
                                        <section class="comment-wrapper clearfix">
                                            <div id="comment-form-container" class="inactive">
                                                <form action="#" method="post">
                                                    <div class="comment-form-title">
                                                        <h3>Please comment here</h3>
                                                        <h6>Require field are marked<span class="required">*</span></h6>
                                                    </div>
                                                    <div class="form-group col-xs-12">
                                                        <label for="comment">Comment <span class="required">*</span></label>
                                                        <textarea name="comment" id="comment" cols="10" rows="2" required="required" maxlength="10000" minlength="50" placeholder="Enter comment"></textarea>
                                                    </div>
                                                    <div class="form-group col-xs-5">
                                                        <label for="email">Email address<span class="required">*</span></label>
                                                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                                        <input type="email" class="form-control input" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                                                    </div>
                                                    <div class="form-group col-xs-7">
                                                        <label for="name">Full name<span class="required">*</span></label>
                                                        <small id="emailHelp" class="form-text text-muted">You can use your real name or nickname</small>
                                                        <input type="text" class="form-control input" id="name" placeholder="Your full name">
                                                    </div>
                                                    <button type="submit" class="btn">Submit</button>
                                                </form>
                                            </div>
                                            <div class="comment-list">
                                                <span class="box-head">Bình luận (Count numbers of comment)</span>
                                            </div>
                                            <div class="lst-comment" id="listComment">
                                                <ul data-view="listcm">
                                                    <li class="item-comment">
                                                        <div class="top">
                                                            <div class="col-xs-1"><img class="avatar-fb-name img33x33" src="imgs/commentAvar_01.jpg" alt="none"></div>
                                                            <div class="col-xs-11"><a href="javascript:;" title="" class="name">Dang Hieu</a>
                                                            <span class="minimize">Chính phủ phải xiết chặt từ gốc, từ Google và Apple. Yêu cầu dẹp bỏ các app cho vay trên Google play và Apple Store mới được.</span></div>
                                                        </div>
                                                        <div class="comment-datetime">
                                                            <div class="li-right">
                                                                <a class="btn-reply timeago" href="javascript:;" rel="nofollow" title="2020-05-08T10:30:39">2 giờ trước</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="item-comment">
                                                        <div class="top">
                                                            <div class="col-xs-1"><img class="avatar-fb-name img33x33" src="imgs/commentAvar_02.jpg" alt="none"></div>
                                                            <div class="col-xs-11"><a href="javascript:;" title="" class="name">Dang Hieu</a>
                                                                <span class="minimize">Chính phủ phải xiết chặt từ gốc, từ Google và Apple. Yêu cầu dẹp bỏ các app cho vay trên Google play và Apple Store mới được.</span></div>
                                                        </div>
                                                        <div class="comment-datetime">
                                                            <div class="li-right">
                                                                <a class="btn-reply timeago" href="javascript:;" rel="nofollow" title="2020-05-08T10:30:39">2 giờ trước</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="item-comment">
                                                        <div class="top">
                                                            <div class="col-xs-1"><img class="avatar-fb-name img33x33" src="imgs/commentAvar_03.jpg" alt="none"></div>
                                                            <div class="col-xs-11"><a href="javascript:;" title="" class="name">Dang Hieu</a>
                                                                <span class="minimize">Chính phủ phải xiết chặt từ gốc, từ Google và Apple. Yêu cầu dẹp bỏ các app cho vay trên Google play và Apple Store mới được.</span></div>
                                                        </div>
                                                        <div class="comment-datetime">
                                                            <div class="li-right">
                                                                <a class="btn-reply timeago" href="javascript:;" rel="nofollow" title="2020-05-08T10:30:39">2 giờ trước</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </section>
                                        <div class="article-footer" style="display: none">
                                            <div class="article-footer-head">
                                                <h4 class="article-footer-head-title">You may also like</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-1"></div>
                                    <div class="col-xs-3">
                                        <div class="left-content">
                                            <div class="left-content-container">
                                                <div id="ad">
                                                    <div class="ad-content">
                                                        <span class="ad-label">ADVERTISEMENT</span>
                                                        <a href="#">
                                                            <img src="http://mvpthemes.com/zoxpress/zoxpress-entertainment1/wp-content/uploads/sites/3/2020/01/zoxpress300x250.jpg">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="bot-trend col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                                    <div class="widget-side-head col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        Trending
                                                    </div>
                                                    <div class="widget-trend">
                                                        <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">1</span>
                                                        <a href="#" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">The U.S. Spends $2,500 Per Person On Health Care Administrative Costs</a>
                                                    </div>
                                                    <div class="widget-trend">
                                                        <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">2</span>
                                                        <a href="#" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">The U.S. Spends $2,500 Per Person On Health Care Administrative Costs</a>
                                                    </div>
                                                    <div class="widget-trend">
                                                        <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">3</span>
                                                        <a href="#" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">The U.S. Spends $2,500 Per Person On Health Care Administrative Costs</a>
                                                    </div>
                                                    <div class="widget-trend">
                                                        <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">4</span>
                                                        <a href="#" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">The U.S. Spends $2,500 Per Person On Health Care Administrative Costs</a>
                                                    </div>
                                                    <div class="widget-trend">
                                                        <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">5</span>
                                                        <a href="#" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">The U.S. Spends $2,500 Per Person On Health Care Administrative Costs</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript" src="jQuery/jQuery.js"></script>
                            <script type="text/javascript">
                                $(document).ready(function(){
                                    $("button").hover(function(){
                                        $(this).css("background-color", "#888");
                                    }, function(){
                                        $(this).css("background-color", "#000");
                                    });
                                });
                                function unHide() {
                                    $("#comment-form-container").removeClass("inactive");
                                }
                            </script>

                        </div>
                        <%- include('footer') -%>
                    </div>
                </div>
        <div id="close-nav" class="close-nav" onclick="closeNav()"></div>
</body>

