#lead-top-wrap{
    display: none;
}
.topnav{
    position: fixed;
    z-index: 9999;
}
#main-body-wrap{
    padding-top: 80px;
}
.top-site{
    position: relative;
    background-color: black;
}
.top-site-text h1{
    text-align: center ;
    position: absolute;
    top: 150px;
    left: 37%;
    color: white;
    font-size: 60px;
    font-weight: 800;
    margin: 0 auto;
    font-family: 'Dancing Script', cursive;
}
.mid-site{
    padding: 200px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.str-title{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    color: #000;
    line-height: 1.5em;
    font-weight: 100;
    padding-bottom: 100px;
    text-align: center;
}
.str-content p {
    padding-bottom: 50px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .025em;
    line-height: 1.5em;
    color: #000;
    margin: 0;
    font-family: 'Dancing Script', cursive;
}
.str1{
    opacity: 0;
}
.str2{
    opacity: 0;
}
.str3{
    opacity: 0;
}
.str4{
    opacity: 0;
}
