#lead-top-wrap{
    display: none;
}
.topnav{
    position: fixed;
    z-index: 10;
}
#main-body-wrap{
    padding-top: 80px;
}
body{
    margin: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    background: #fff;
}
body .sec1{
    opacity: 0;
    animation: all_element 0.3s forwards 0.3s;
}
body .sec2,
body .sec3,
body .footer{
    opacity: 0;
    animation: all_element 0.5s forwards 0.5s;
}
@keyframes all_element{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
* {
    color: #252A37;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    display: inline-block;
}
/* Button */
button{
    background: transparent;
    border: 0;
    cursor: pointer;
}
button:focus{
    outline: 0;
}
.btn{
    border: 1px solid #2255CE;
    background: #2255CE;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 20px 10px;
    font-weight: 600;
    font-size: 0.625em;
    border-radius: 25px;
    letter-spacing: 2px;
    line-height: 1.3;
    margin: 5px 0;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: 0.3s;
}
.btn-white {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}
.btn-line {
    border: 1px solid #2255CE;
    background: transparent;
    color: #2255CE;
}
.btn-white::before,
.btn-line::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2255CE;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s;
    transform: translateX(100%);
}
.btn-white::before {
    background: #4677EE;
}
.btn-white:hover,
.btn-line:hover {
    color: #fff;
    border: 1px solid #2255CE;
}
.btn-white:hover {
    border: 1px solid #4677EE !important;
}
.btn-white:hover::before,
.btn-line:hover::before {
    transform: translateX(0);
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}
a{
     text-decoration: none;
}
p{
    line-height: 1.5;
}
.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
}
.section{
    height: 100%;
    position: relative;
    box-sizing: border-box;
    background-color: transparent !important;
    z-index: 99;
}
.bg-gradient{
    background-image: linear-gradient(45deg, #285acc , #1F49A7) !important;
}
.bg-gradient .gr-btn .btn{
    background: #4677EE;
    border: 1px solid #4677EE;
}
.bg-gradient .gr-btn .btn-white{
    background: transparent;
    border: 1px solid #fff;
}

.section .intro{
    padding: 0 40px;
    height: 100%;
    box-sizing: border-box;
}
.section .info {
    height: 100vh;
    bottom: 0;
}
.section .intro{
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    width: 100%;
    z-index: 1;
}
.section .info{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}
.section .sec-tt{
    position: absolute;
    width: auto;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 0 0 40px;
}
.section .sec-content{
    position: absolute;
    width: auto;
    right: 40px;
    top: 55%;
    transform: translateY(-50%);
    text-align: center;
}
.section .gr-btn .btn-download:hover img {
    animation: btn_download 0.5s infinite;
}

.section .gr-btn .btn {
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding: 13px 25px 10px;
    margin-right: 10px;
}

.sec1 {
    background-image: linear-gradient(150deg, #EEF9FC , #d6e7f5);
}

.sec1  .logo{
    float: left;
}
.sec1 .info{
    float: right;
}
.sec1  .info li{
    margin-left: 30px;
    font-weight: 500;
    font-size: 0.9em;
    color: #212529;
}
.sec1  .info li img{
    margin-right: 5px;
}
.sec1  .info li .img-phone{
    position: relative;
    top: 8px;
}
.sec1  .info li .img-mail{
    position: relative;
    top: 3px;
}
.sec1 .main-text{
    position: absolute;
    bottom: 12%;
}
.sec1 h2{
    font-size: 4.875em;
    font-weight: 800;
    line-height: 1.1;
    color: #fff;
}
.sec1 h6{
    font-size: 1.25em;
    font-weight: 500;
    width: 690px;
    margin: 50px 10px;
    line-height: 1.4;
    color: #fff;
}
.sec1 h6 b{
    color: #888;
    font-weight: 700;
}
.sec1 .gr-btn{
    position: absolute;
    right: 0;
    bottom: 0;
}
.sec1 .gr-btn-sp{
    display: none;
}
.sec1 .gr-btn li{
    position: relative;
    display: table;
    height: calc((100vh - 60px)/3);
    width: 320px;
}
.sec1 .gr-btn li:first-child {
    background: #FFFFFF;
}
.sec1 .gr-btn li:nth-child(2) {
    background: #EBF1FF;
}
.sec1 .gr-btn li:last-child {
    background: #DBE6FF;
}
.sec1 .gr-btn li a{
    color: #212529;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.sec1 .gr-btn li img {
    margin-bottom: 30px;
}
.sec1 .gr-btn li a span{
    display: block;
}
.sec1 .gr-btn li a .text{
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: 600;
    transition: 0.3s;
    color: #252A37;
    letter-spacing: 1px;
}
.sec1 .gr-btn li:hover a .text{
    color: #252A37;
}
.sec1 .gr-btn li a .sub-text{
    font-size: 0.6875em;
    margin-top: 12px;
    color: #9297a2;
}
.sec1 .gr-btn li:hover a .sub-text{
    animation: click_chitiet 0.3s infinite;
    color: #4677EE;
}

@keyframes click_chitiet{
    0%{transform: translateX(0)}
    25%{transform: translateX(-5px)}
    75%{transform: translateX(5px)}
    100%{transform: translateX(0)}
}


.sec2 .tt-02{
    height: 180px;
    width: 100%;
    display: table;
    text-align: center;
    position: relative;
    background: #2050BB;
}
.sec2 .tt-02 span {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}
.sec2 .gr-element {
    height: calc((100vh - 180px));
}
.sec2 .gr-element .element{
    width: calc(100%/3);
    height: calc(100%/2);
    float: left;
    padding: 20px 0;
    text-align: center;
    box-sizing: border-box;
    display: table;
    border-right: 1px solid #dee8fd;
    border-bottom: 1px solid #dee8fd;
}
.sec2 .gr-element .element .content {
    display: table-cell;
    vertical-align: middle;
}
.sec2 .gr-element .element img {
    width: 50px;
}
.sec2 .gr-element .element h6{
    font-size: 0.825em;
    margin: 30px 0 18px;
    text-transform: uppercase;
    line-height: 1px;
    font-weight: 600;
}
.sec2 .popup .content{
    width: 90%;
    max-width: 1300px;
}
.sec2 .popup .gr-element .element{
    margin: 40px 0;
}
.sec2 .sec-tt{
    margin: 0;
}

.popup .gr-element .element {
    margin-top: 0;
    margin-bottom: 20px;
}
.popup .gr-element .element h6{
    color: #4677EE;
}
/* SECTION 3 */
.sec3 .tt-03 {
    display: inline-block;
}
.sec-tt{
    margin: 4% 0;
}
.sec3 .sec-tt .gr-btn{
    text-align: left;
    margin-top: 30px;
    padding: 0;
    width: 400px;
}
.sec3 .sec-tt .gr-btn button a{
    color: red;
}
.sec3 .tt-03 span{
    display: block;
    padding: 0 40px;
}
.sec3 .tt-03 .sub-tt{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1em;
    font-size: 0.9em;
}
.sec3 .tt-03 span.sub-tt {
    padding: 0;
}
.bg-gradient .tt-03 .sub-tt{
    color: #fff;
}
.sec3 .tt-03 .main-tt{
    font-size: 3.5em;
    font-weight: 800;
    margin: 0 0 10px;
    padding: 10px 0;
    line-height: 1.2;
    position: relative;
}
.bg-gradient .tt-03 .main-tt{
    color: #fff;
}
.sec3 .tt-03-sub .main-tt::after{
    bottom: -15px;
}
.bg-gradient .tt-03 .main-tt::before,
.bg-gradient .tt-03 .main-tt::after{
    background: #fff;
}
.sec3 .control img{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 26px;
}
.sec3 .control .control-left{
    left: 60px;
}
.sec3 .control .control-right{
    right: 60px;
}
.slide-sec3 .slide-element{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    opacity: 0;
    transition: 0.5s;
}
.slide-sec3 .slide-element.active{
    opacity: 1;
}
.slide-sec3 .slide-element .name{
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.slide-sec3 .slide-element .name h5{
    margin: -10px auto;
    font-weight: 700;
    font-size: 1.125em;
    line-height: 1.4;
    padding: 0 40px;
    width: 100%;
    box-sizing: border-box;
}
/* SEC 5 */
.sec5 .sec-content img{
    max-width: 75%;
}
.sec5 .sec-content > img {
    opacity: 0;
}
/* ANIMATION */
.pr-section .sec-tt.active{
    opacity: 0;
    animation: left 0.5s forwards 0.5s;
}
.pr-section .sec-content.active{
    opacity: 0;
    animation: right 0.5s forwards 0.5s;
}
.banner-section .sec-tt.active{
    opacity: 0;
    animation: left 0.5s forwards 0.5s;
}
.banner-section .sec-content.active{
    opacity: 0;
    animation: right 0.5s forwards 0.5s;
}
.lh-section .sec-tt.active{
    opacity: 0;
    animation: left 0.5s forwards 0.5s;
}
.lh-section .sec-content.active{
    opacity: 0;
    animation: right 0.5s forwards 0.5s;
}

@keyframes left{
    0%{transform: translateX(-100px) translateY(-50%); opacity: 0;}
    100%{transform: translateX(0) translateY(-50%); opacity: 1;}
}
@keyframes right{
    0%{transform: translateX(100px) translateY(-50%); opacity: 0;}
    100%{transform: translateX(0) translateY(-50%); opacity: 1;}
}

.section .container{
    margin: 80px auto;
}

#container1{
    background-color: #F3F3F3;
    border-radius: 30px;
}
H1{
    font-size: 50px;
    transition: width 3s;
}
H1:hover {
    font-size: 100px;
    color: #d43f3a;
}
