/*header*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.relative{
    position: relative;
}
#dnbc-site{
    overflow: hidden;
    width: 100%;
}
#site-wall{
    overflow: hidden;
    width: 100%;
}
#lead-top-wrap{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 0;
    height: 380px;
}
#lead-top-in{
    clip: rect(0,auto,auto,0);
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    zoom: 1;
    width: 100%;
    height: 100%;
}
#lead-top{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    line-height: 0;
    text-align: center;
    width: 100%;
    -webkit-transition: -webkit-transform 0.25s ease;
    -moz-transition: -moz-transform 0.25s ease;
    -ms-transition: -ms-transform 0.25s ease;
    -o-transition: -o-transform 0.25s ease;
    transition: transform 0.25s ease;
}
#lead-top img{
    width: auto;
    height: auto;
    display: block;
    max-width: 1600px;
    max-height: 400px;
    padding: 0;
    overflow: hidden;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.subnav{
    display: none;
}

.topnav {
    background-color: #102039;
    height: 80px;
}

.topnav .open-nav {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    height: 80px;
    line-height: 100px;
}
.topnav a:hover {
    background-color: #102039;
    color: black;
}
.topnav a.active {
    background-color: #102039;
    color: white;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.menu {
    background: #102039;
    display: none;
    padding: 5px;
    width: 320px;
@include border-radius(5 px);
    #transition: all 0.5s ease;
}
.close-nav{
    display: none;
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    opacity: 0.3;
}
.menu_1{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu_1 .parent-menu{
    padding-right: 10px;
}
.menu-item{
    line-height: 80px;
    color: white;
    margin-right: 20px;
    text-transform: uppercase;
}
.menu-item:hover{
    color: red!important;
    text-decoration: none;
}
.menu-item:focus{
    color: white!important;
    text-decoration: none;
}
.parent-menu ul li a{
    text-align: center;
}
.menu_1 ul li a{
    width: 100%;
    line-height: 40px;
    height: 40px;
    text-transform: capitalize;
}
.nav-left{
    border-right: 1px solid rgba(2555,255,255,.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-mid{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 80px;
}
.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-right a{
    line-height: 80px;
    padding-right: 20px;
}
@media (max-width: 992px) {
    .nav-left .open-nav {margin-top: 0}
    .menu_1{visibility: hidden}
}
p{
    margin: 0;
}
/*footer*/
footer{
    background-color: black;
    display: flex;
    padding: 80px 50px 80px;
}
.footer-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-right ul li{
    float: left;
    list-style: none;
    margin: 15px 10px 0 0;
}
.footer-right ul li a{
    color: #777;
    font-weight: 600;
    font-size: 12px;
}
.footer-right ul li a:hover,.footer-right ul li a:focus{
    color: #777;
    text-decoration: none;
}
.footer-right p{
    color: #777;
    padding-left: 13px;
    font-size: 12px;
}
@media (max-width: 992px) {
    .footer-right ul{display: flex;
        align-items: center;
        justify-content: center;}
    .footer-right p{text-align: center}
}