<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') -%>
    <title>File mẫu</title>
    <link rel="stylesheet" href="css/file-mau.css">
</head>
<body>
    <%- include('header') -%>
                <div id="site-grid" style="transform: none;margin-top: 0px">
                    <div id="site-wall-small">
                        <div id="main-body-wrap">
                            <p>lam o day</p><br><br><br><br><br><br><br>
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                        </div>
                        <%- include('footer') -%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="close-nav" class="close-nav" onclick="closeNav()"></div>
</body>

