<div id="dnbc-site" class="left relative" style="transform: none">
    <div id="site-wall" class="left relative" style="transform: none">
        <div id="lead-top-wrap">
            <div id="lead-top-in">
                <div id="lead-top">
                    <a href="#" target="_blank">
                        <img class="col-xs-12 col-sm-12 col-md-12 col-lg-12" src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/04/zoxpress-leader.jpg">
                    </a>
                </div>
            </div>
        </div>
        <div id="site-main">
            <div id="header" class="left relative">
                <div id="sideNavigation" class="sidenav">
                    <a href="/"><img src="imgs/dnbc.png" width="150" height="50"></a>
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <ul>
                        <li>
                            <a href="#" onclick="openSub()" onmousedown="closeSub()">Today in world</a>
                            <ul class="subnav" id="subnav">
                                <li><a href="#">Word 1</a></li>
                                <li><a href="#">Word 2</a></li>
                                <li><a href="#">Word 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" onclick="openSub()">Business</a>
                            <ul class="subnav" id="subnav">
                                <li><a href="#">Business 1</a></li>
                                <li><a href="#">Business 2</a></li>
                                <li><a href="#">Business 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" onclick="openSub()">Politics</a>
                            <ul class="subnav" id="subnav">
                                <li><a href="#">Politic 1</a></li>
                                <li><a href="#">Politic 2</a></li>
                                <li><a href="#">Politic 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" onclick="openSub()">Sports</a>
                            <ul class="subnav" id="subnav">
                                <li><a href="#">Sport 1</a></li>
                                <li><a href="#">Sport 2</a></li>
                                <li><a href="#">Sport 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/about-us" onclick="openSub()">About Us</a>
                            <ul class="subnav" id="subnav">
                                <li><a href="#">About Us 1</a></li>
                                <li><a href="#">About Us 2</a></li>
                                <li><a href="#">About Us 3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" onclick="openSub()">Contact Us</a>
                            <ul class="subnav" id="subnav">
                                <li><a href="#">Contact Us 1</a></li>
                                <li><a href="#">Contact Us 2</a></li>
                                <li><a href="#">Contact Us 3</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <nav class="topnav col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="nav-left col-xs-2 col-sm-2 col-md-1 col-lg-1">
                            <a href="#"  class="open-nav" onclick="openNav()">
                                <svg width="30" height="30" id="icoOpen">
                                    <path d="M0,5 30,5" stroke="#fff" stroke-width="5"/>
                                    <path d="M0,14 30,14" stroke="#fff" stroke-width="5"/>
                                    <path d="M0,23 30,23" stroke="#fff" stroke-width="5"/>
                                </svg>
                            </a>
                        </div>
                        <div class="nav-mid col-xs-10 col-sm-10 col-md-2 col-lg-2">
                            <a href="/">
                                <img src="imgs/dnbc.png" width="150" height="50">
                            </a>
                        </div>
                        <ul class="menu_1 col-md-8 col-lg-8">
                            <li class="dropdown parent-menu">
                                <a href="#"  data-toggle="dropdown" class="menu-item">Today in world</a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li><a href="#">Word 1</a></li>
                                    <li><a href="#">Word 2</a></li>
                                    <li><a href="#">Word 3</a></li>
                                </ul>
                            </li>
                            <li class="dropdown parent-menu">
                                <a href="#"  data-toggle="dropdown" class="menu-item">Business</a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li><a href="#">Business 1</a></li>
                                    <li><a href="#">Business 2</a></li>
                                    <li><a href="#">Business 3</a></li>
                                </ul>
                            </li>
                            <li class="dropdown parent-menu">
                                <a href="#"  data-toggle="dropdown" class="menu-item">Politics</a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li><a href="#">Politic 1</a></li>
                                    <li><a href="#">Politic 2</a></li>
                                    <li><a href="#">Politic 3</a></li>
                                </ul>
                            </li>
                            <li class="dropdown parent-menu">
                                <a href="#"  data-toggle="dropdown" class="menu-item">Sports</a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li><a href="#">Sport 1</a></li>
                                    <li><a href="#">Sport 2</a></li>
                                    <li><a href="#">Sport 3</a></li>
                                </ul>
                            </li>
                            <li class="parent-menu">
                                <a href="/about-us" class="menu-item">About Us</a>
                            </li>
                            <li class="parent-menu">
                                <a href="#"class="menu-item">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>