<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') -%>
    <title>DNBC International - Breaking News and World News</title>
    <link rel="stylesheet" href="css/homepage.css">
</head>
<body>
    <%- include('header') -%>
                <div id="site-grid" style="transform: none;margin-top: 0px">
                    <div id="site-wall-small">
                        <div id="main-body-wrap">
                            <div class="body-main">
                                <div class="top-site">
                                    <div class="container">
                                        <div class="row">
                                            <div class="hot-new col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                                <a href="/post">
                                                    <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/interview1-1536x864.jpg">
                                                    <p class="first-new">Warren And Sanders Spar On Gender Issues At Iowa Debate</p>
                                                </a>
                                                <h5>Politics</h5>
                                                <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                                            </div>
                                            <div class="hot-new col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/stocks-1536x864.jpg">
                                                    <p class="second-new">The Week Ahead: Busiest Week Of Earnings Season</p>
                                                </a>
                                                <h5>Bussiness</h5>
                                                <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                                            </div>
                                            <div class="hot-new col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/businessman1-1536x864.jpg  ">
                                                    <p class="second-new">Japan’s Environment Minister Announces History-Making Personal Decision</p>
                                                </a>
                                                <h5>World</h5>
                                                <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                                            </div>
                                            <div class="main-title col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <span class="dnbc-main-title">
                                                World News
                                            </span>
                                            </div>
                                            <div class="hot-new col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/politcian-768x432.jpg">
                                                    <p class="third-new">Mexico’s President Is Considering Raffling Off The Presidential Jet</p>
                                                </a>
                                                <h5>World</h5>
                                                <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                                            </div>
                                            <div class="hot-new col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/interview4-768x432.jpg">
                                                    <p class="third-new">Greta Thunberg Joins Youth Activists On TIME Panel At Davos</p>
                                                </a>
                                                <h5>World</h5>
                                                <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                                            </div>
                                            <div class="hot-new col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/alaska-768x432.jpg">
                                                    <p class="third-new">Alaska Native Elder Is First American Counted In Census</p>
                                                </a>
                                                <h5>World</h5>
                                                <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                                            </div>
                                            <div class="hot-new col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/protest-768x432.jpg">
                                                    <p class="third-new">New Report Finds Distrust In Capitalism, Government And Global Institutions</p>
                                                </a>
                                                <h5>World</h5>
                                                <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mid-site">
                                    <a href="#">
                                        <div class="art-img">
                                            <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/workers.jpg">
                                        </div>
                                    </a>
                                    <div class="art-text">
                                        <div class="container">
                                            <h3 class="s-cat">
                                                <span class="s-cat">Bussiness</span>
                                            </h3>
                                            <div class="art-title">
                                                <a href="#">
                                                    <h2 class="art-title1">
                                                        Walmart Raises Starting Hourly Wage To $12 In 500 Stores, As Part Of A Test
                                                    </h2>
                                                </a>
                                            </div>
                                            <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="top-site1">
                                    <div class="container">
                                        <div class="row">
                                            <div class="main-title col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <span class="dnbc-main-title">
                                                    Business News
                                                </span>
                                            </div>
                                            <div class="hot-new col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/grocery-768x432.jpg">
                                                    <p class="third-new">NY Grocer Fairway Says No Plans To File For Chapter 7 Bankruptcy</p>
                                                </a>
                                                <h5>Business</h5>
                                                <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                                            </div>
                                            <div class="hot-new col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/speaker4-768x432.jpg">
                                                    <p class="third-new">Tesla Could Eventually Reach A Trillion-Dollar Valuation</p>
                                                </a>
                                                <h5>Business</h5>
                                                <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                                            </div>
                                            <div class="hot-new col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/restaurant-768x432.jpg">
                                                    <p class="third-new">Grubhub Unveils Tech For Restaurants Aimed At Easing Pickup Orders</p>
                                                </a>
                                                <h5>Business</h5>
                                                <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                                            </div>
                                            <div class="hot-new col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                                <a href="#">
                                                    <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/auto-plant-768x432.jpg">
                                                    <p class="third-new">Uber Lands Electric Car Deal With Nissan In The UK</p>
                                                </a>
                                                <h5>Business</h5>
                                                <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mid-site">
                                    <a href="#">
                                        <div class="art-img">
                                            <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/interview2-1536x864.jpg">
                                        </div>
                                    </a>
                                    <div class="art-text">
                                        <div class="container">
                                            <h3 class="s-cat">
                                                <span class="s-cat">Politics</span>
                                            </h3>
                                            <div class="art-title">
                                                <a href="#">
                                                    <h2 class="art-title1">
                                                        Best Stock Strategy Of The Decade
                                                    </h2>
                                                </a>
                                            </div>
                                            <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="bot-site">
                                    <div class="container">
                                            <div class="bot-site-left col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                                <div class="row">
                                                    <div class="bot-new bot-new-main col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <a href="#" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                            <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/protest1-768x432.jpg">
                                                        </a>
                                                        <div class="bot-site-text col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                            <h5>POLITICS</h5>
                                                            <a href="#"><p>The U.S. Spends $2,500 Per Person On Health Care Administrative Costs</p></a>
                                                            <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                                                        </div>
                                                    </div>
                                                    <div class="bot-new bot-new-mid col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <a href="#" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                            <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/politcian2-768x432.jpg">
                                                        </a>
                                                        <div class="bot-site-text col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                            <h5>POLITICS</h5>
                                                            <a href="#"><p>Biggest Takeaways From The January Democratic Debate</p></a>
                                                            <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                                                        </div>
                                                    </div>
                                                    <div class="bot-new bot-new-mid col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <a href="#" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                            <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/interview5-768x432.jpg">
                                                        </a>
                                                        <div class="bot-site-text col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                            <h5>POLITICS</h5>
                                                            <a href="#"><p>North Carolina’s Lieutenant Governor Had Some MLK Day Thoughts On Race</p></a>
                                                            <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                                                        </div>
                                                    </div>
                                                    <div class="bot-new bot-new-mid col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <a href="#" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                            <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/protest2-768x432.jpg">
                                                        </a>
                                                        <div class="bot-site-text col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                            <h5>POLITICS</h5>
                                                            <a href="#"><p>How Millennial Leaders Will Change The World</p></a>
                                                            <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                                                        </div>
                                                    </div>
                                                    <div class="bot-new bot-new-mid col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        <a href="#" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                                            <img src="http://mvpthemes.com/zoxpress/zoxpress-network2/wp-content/uploads/sites/7/2020/01/protest3-768x432.jpg">
                                                        </a>
                                                        <div class="bot-site-text col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                                            <h5>POLITICS</h5>
                                                            <a href="#"><p>Wisconsin Judge Orders Removal Of 209,000 From Voter Rolls</p></a>
                                                            <h4>ZoxPress Staff <i class="far fa-clock"></i> January 26, 2020</h4>
                                                        </div>
                                                    </div>
                                                    <a href="#" class="more-post col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        more posts
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="bot-site-right col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                <div class="bot-ad col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                                    <span>advertisement</span>
                                                    <a href="#">
                                                        <img src="http://mvpthemes.com/zoxpress/zoxpress-entertainment1/wp-content/uploads/sites/3/2020/01/zoxpress300x250.jpg">
                                                    </a>
                                                </div>
                                                <div class="bot-trend col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                                    <div class="widget-side-head col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                        Trending
                                                    </div>
                                                    <div class="widget-trend">
                                                        <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">1</span>
                                                        <a href="#" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">The U.S. Spends $2,500 Per Person On Health Care Administrative Costs</a>
                                                    </div>
                                                    <div class="widget-trend">
                                                        <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">2</span>
                                                        <a href="#" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">The U.S. Spends $2,500 Per Person On Health Care Administrative Costs</a>
                                                    </div>
                                                    <div class="widget-trend">
                                                        <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">3</span>
                                                        <a href="#" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">The U.S. Spends $2,500 Per Person On Health Care Administrative Costs</a>
                                                    </div>
                                                    <div class="widget-trend">
                                                        <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">4</span>
                                                        <a href="#" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">The U.S. Spends $2,500 Per Person On Health Care Administrative Costs</a>
                                                    </div>
                                                    <div class="widget-trend">
                                                        <span class="col-xs-2 col-sm-2 col-md-2 col-lg-2">5</span>
                                                        <a href="#" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">The U.S. Spends $2,500 Per Person On Health Care Administrative Costs</a>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include('footer') -%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="close-nav" class="close-nav" onclick="closeNav()"></div>
</body>
