<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') -%>
    <title>DNBC International - Breaking News and World News</title>
    <link rel="stylesheet" href="css/homepage.css">
</head>
<body>

</body>
